<div class="footer">
  <div class="container footer-content">
    <div class="col-xs-12 col-sm-4">
      <p>© 2016 GUILLAUME CAULIER | ALL RIGHTS RESERVED <br>
      <a href="#">Projects</a> | <a href="#">Contact</a> | <a href="https://twitter.com/cauliergui"><i class="fa fa-twitter"></i>
</a> <a href="https://github.com/Guillaumecaulier"><i class="fa fa-github"></i></a></p>
      <br>
    </div>
    <div class="col-xs-12 col-sm-4"></div>
    <div class="col-xs-12 col-sm-4">
      <p>40 RUE DE LA BAIGNERIE, 59800 LILLE.</p>
      <p>HELLO@GUILLAUMECAULIER.COM</p>
    </div>
  </div>
</div>
