<div class="parent2">
  <div class="test1"><a href="#"><i class="fa fa-user fa-2x"></i></a></div>
  <div class="test2"><a href="#"><i class="fa fa-graduation-cap fa-2x"></i></a></div>
  <div class="test3"><a href="#"><i class="fa fa-code fa-2x"></i></a></div>
  <div class="mask2"><a href="#"><i class="fa fa-bars fa-2x"></i></a></div>
</div>
<div class="logo">
  <h3>Guillaume Caulier</h3>
</div>
